<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        Search:
        <input ng-model="query">

        <select ng-model="orderProp">
          <option value="name">Alpha</option>
          <option value="age">newest</option>
        </select>
      </div>
      <div class="col-md-10">
        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
            <a href="#/phones/{{phone.id}}" class="thumb">
              <img ng-src="{{phone.imageUrl}}">
            </a>
            <a href="{{phone.id}}">
              {{phone.name}}
            </a>            
            <p>{{phone.snippet}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>